*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium';
}


.container{
position: absolute;
transform: translate(-50% -50%);
top: 2%;
left: 8%;
width: 90vw;
max-width: 37.5em;
background-color: rgb(23, 131, 177);
padding: 1.8em;
border-radius: 0.9em;
height: 100vh;
}
.search-container {
    display:grid;
    grid-template-columns:9fr 3fr ;
    gap: 1em;
    margin-bottom: 1.2em;
    
}
.search-container input{
    font-size: 1em;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    color: rgb(48, 48, 65);
    border-bottom: 1.5px solid rgba(58, 37, 37);
}
.search-container input :focus{
    border-color: blue;
}
.search-container button{
    font-size: 1em;
    border-radius: 2em;
    background-color: rgb(244, 217, 9);
    border: none;
    outline: none;
    color: rgb(11, 10, 10);
    font-weight: bold;
    width: 150px;

    
}
.bgImage{
    background-size: 100%;
    text-align: center;
    width: 48%;
    margin-left: 800px;
    margin-right: 5px;
    border-radius: 80px;
    opacity: 0.2;
    height: 90vh;  
    margin-top: 0px; 
    
}
#front{
    background: rgb(255, 255, 255);
    margin-left: 10px;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 0px; 
    height: 100px;
}
#drink-section{
    width: 533px;
    height: 50px;
    background: rgb(23, 131, 177);
    margin-top: 40px;
    padding-top: 5px;
    text-align: center;
    color: white;
    font-size: 25px; 
    font-family: 'Segoe UI';
    

}
#drink-section img{
    width:100% ;
    height: auto;
}
.pageBody{
position: absolute;
transform: translate(-50% -50%);
top: 2%;
left: 0%;
background-color: rgb(23, 131, 177);
padding: 1.8em;
height: 100vh;
width: 2000px;
text-align: center;
}
#ingredients{
    width: 990px;
    height: 880px;
    background: rgb(23, 131, 177);
    padding-top: 0px;
    padding-left: 80px;
    margin-bottom: 1000px;  
    color: rgb(8, 8, 8);
    font-size: 30px; 
    font-family: 'Franklin Gothic Medium';
    margin-left: 800px;
    text-align: left;
    word-spacing: 10px;
    background-image:url("HD-wallpaper-neon-cocktail-cocktails-colors-thumbnail.jpg");
    background-size: cover;
    font-weight: bolder;
    border-radius: 50px;
    
    
}
#instructions{
    width: 1000px;
    height: 550px;
    background: rgb(213, 216, 22);
    margin-top: 250px;
    padding-top: 0px;
    padding-left: 80px;
    text-align: center;
    margin-bottom: 1000px;  
    color: rgb(5, 5, 5);
    font-size: 25px; 
    font-family: 'Segoe UI';
    margin-left: -80px;
    text-align: left;

}
h2{
    color: rgb(249, 249, 245);
    
}
h4{
    color: red;
}
h1{
    color: black;
    font-size: 50px;
    padding-top: 10px;   
} 
h5{
    color: black;
    font-size: 21px;
    font-style: italic;
}
#loadimages{
    font-size: 1em;
    border-radius: 2em;
    background-color: rgb(244, 217, 9);
    border: none;
    outline: none;
    color: rgb(11, 10, 10);
    font-weight: bold;
    margin-top: 535px;
    height: 40px;
    width: 230px;
    cursor: pointer;
    margin-left: 400px;
    
}

.navbar {
    width: 100%;
    background-color: rgb(244, 217, 9);
    overflow: auto;
  }
  .navbar a {
    float: left;
    padding: 12px;
    font-size: 20px;
    width: 20%; 
  }
  a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid rgb(23, 131, 177);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
    background-color: rgb(23, 131, 177);
    color: white;
  }
  img {
    width: 100vh;
    height: 85vh;
    object-fit: cover;
    margin-top: 0px;
  }
  #textbox{
    background: rgb(244, 217, 9);
    margin-left: 0px;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 0px; 
    height: 100px;
  }
  #contactus{
    background: rgb(255, 255, 255);
    margin-left: 1200px;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 0px; 
    height: 95vh;
    width: 500px;
    margin-top: 17px;
  }

#contactus{
text-align: justify;
padding-left: 50px;
padding-top: 100px;
}
/* #about{
    background: rgb(253, 17, 209);
    margin-left: 0px;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 0px; 
    height: 100px;
    width: 400px;
    margin-left: 1000px;
} */
#about{
text-align: end;
margin-top:40px;
font-size: 25px;
font-style: italic;
font-weight: bold;
background-color: transparent;
margin-left: 0px;
padding-top: 0px;
text-align: center;
margin-bottom: 0px; 
height: 800px;
width: 800px;
margin-left: 1000px;

}
#homeid{
    text-align: end;
    margin-top:30px;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    background-color: transparent;
    margin-left: 0px;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 0px; 
    height:750px;
    width: 800px;
    margin-left:940px;
}
.circle{
position: absolute;
left: 9%;
top: 30%;
margin-top: 0px;
margin-left: 0px;
box-shadow: 0 2px 4px black;
width: 80px;
height: 80px;
background-color:white;
border-radius: 50%;
padding:9px;



}
.circle i{
    font-size: 4rem;
    transition: .4s; 
}

.circle:hover i{
color :red;
}

.fas{
    color: red;
    transition: .4s ;
}
